/arrays.js
/boxsizing.html
/consolemethods.html
/createleDOm.html
/DOMpractice.html
/eventhandling.html
/find,some,every.html
/flexbox.html
/float&clear.html
/foreach.js
/functions.js
/grid.html
/javscript1.html
/loops.html
/map,filter,reduce.html
/modelwindow.html
/objects.js
/operators.js
/position.html
/practice.js
/psedoclaasses.html
/scope.js
/set.js
/settimeout.html
/templateliteral.html
/z-index.html